@import "~@schibstedspain/sui-theme/lib/index";

.sktest-StarRange {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 8px #000000, 0px 0px 8px #0d0d0d;
        border: 2px solid #000000;
        // height: 20px;
        // width: 20px;
        border-radius: 50%;
        // background: rgb(200,110,210);
        background-image: url("https://timedotcom.files.wordpress.com/2017/02/full-moon.jpg");
        // background-image: url("https://tallbloke.files.wordpress.com/2012/02/mercury-300x300.jpg");
        background-size: cover;
        background-position: center;
        transform: scale(1.5);
        cursor: pointer;
        -webkit-appearance: none;
        // margin-top: -4px;
    }
    &:focus::-webkit-slider-runnable-track {
        background: rgba(#fff, 0.3);
    }
    &--mercury {
        background: #281b47;
        &::-webkit-slider-thumb {
            background-image: url("https://tallbloke.files.wordpress.com/2012/02/mercury-300x300.jpg");
        }
    }
    &--venus {
        background: #594093;
        &::-webkit-slider-thumb {
            background-image: url("https://okdiario.com/img/2018/04/04/-puede-haber-vida-en-la-atmosfera-de-venus-2-655x368.jpg");
        }
    }
    &--earth {
        background: #151515;
        &::-webkit-slider-thumb {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7b/Earth_Western_Hemisphere.jpg");
        }
    }
    &--mars {
        background: #d1a0e2;
        &::-webkit-slider-thumb {
            background-image: url("https://www.novelties-direct.co.uk/images/P/BRUNO%20MARS.jpg");
        }
    }
    &--jupiter {
        background: #6f367d;
        &::-webkit-slider-thumb {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Jupiter_by_Cassini-Huygens.jpg/280px-Jupiter_by_Cassini-Huygens.jpg");
        }
    }
    &--saturn {
        background: #3a1451;
        &::-webkit-slider-thumb {
            background-image: url("http://www.indiana.edu/~geol105/images/gaia_chapter_2/saturn.jpg");
        }
    }
    &--uranus {
        background: black;
        &::-webkit-slider-thumb {
            background-image: url("https://cdn.vox-cdn.com/thumbor/FtXQ7wxGSblx4I_TSdXGazA1hJQ=/0x171:1041x865/1200x800/filters:focal(0x171:1041x865)/cdn.vox-cdn.com/uploads/chorus_image/image/49937069/hs-2016-22-b-full.0.0.jpg");
        }
    }
    &--neutron {
      margin: 18px 0;
        &::-webkit-slider-thumb {
          height: 1.1em;
          width: 1.1em;
          margin-top: -4px;
        }
    }
    &--dwarf {
      margin: 26px 0;
        &::-webkit-slider-thumb {
          height: 2.2em;
          width: 2.2em;
          margin-top: -10px;
        }
    }
    &--giant {
      margin: 36px 0;
        &::-webkit-slider-thumb {
          height: 3.3em;
          width: 3.3em;
          margin-top: -20px;
        }
    }
    &--super-giant {
      margin: 46px 0;
        &::-webkit-slider-thumb {
          height: 4.4em;
          width: 4.4em;
          margin-top: -27px;
        }
    }
    // &::-moz-range-track {
    //     width: 100%;
    //     height: 8.4px;
    //     cursor: pointer;
    //     animate: 0.2s;
    //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    //     background: #3071a9;
    //     border-radius: 1.3px;
    //     border: 0.2px solid #010101;
    // }
    // &::-moz-range-thumb {
    //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    //     border: 1px solid #000000;
    //     height: 36px;
    //     width: 16px;
    //     border-radius: 3px;
    //     background: #ffffff;
    //     cursor: pointer;
    // }
    // &::-ms-track {
    //     width: 100%;
    //     height: 8.4px;
    //     cursor: pointer;
    //     animate: 0.2s;
    //     background: transparent;
    //     border-color: transparent;
    //     border-width: 16px 0;
    //     color: transparent;
    // }
    // &::-ms-fill-lower {
    //     background: #2a6495;
    //     border: 0.2px solid #010101;
    //     border-radius: 2.6px;
    //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // }
    // &::-ms-fill-upper {
    //     background: #3071a9;
    //     border: 0.2px solid #010101;
    //     border-radius: 2.6px;
    //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    // }
    // &::-ms-thumb {
    //     box-shadow: 1px 1px 10px #000000, 0px 0px 10px #0d0d0d;
    //     border: 1px solid #000000;
    //     height: 20px;
    //     width: 20px;
    //     border-radius: 50%;
    //     background: #ffffff;
    //     cursor: pointer;
    // }
    // &:focus::-ms-fill-lower {
    //     background: #3071a9;
    // }
    // &:focus::-ms-fill-upper {
    //     background: #367ebd;
    // }
}
